{% extends 'index.html' %}
{% block content %}
<html>
    <head>
        <link rel='stylesheet' href='/static/aboutas.css'>
    </head>
    <!-- <img src="Screenshot 2021-11-16 013449" alt="Img"> -->
    <!-- <img src="https://cdn.pixabay.com/photo/2021/10/23/03/35/mountain-6734031__340.jpg" alt=""> -->
    <body>
        <div class="container">
            <img src="https://cdn.pixabay.com/photo/2021/10/23/03/35/mountain-6734031__340.jpg" alt="">   
            <div class="box-3">
                ABOUT US<br>
                John Xina China Beauty Salon<br>
                Since 2021<br>
                ก่อตั้งขึ้นในปี พศ. 2564 ภายใต้การบริหารงานของ<br>
                คุณThaweesak Kingkhokgrued
            </div>
            <div class="icon">
                <div id= "address">
                    address:Sukhumvit 35
                </div>
                <div id = "tel">
                    tel : Tel 089-086-2943
                </div>
                <div id = "clock">
                    09.00 am. – 08.00 pm.
                </div>
            </div>
            <div id = "line">
            </div>
        </div>
        <div class="box-1">
            2เหตุผลเหตุผลทำไมต้องเลือกรับบริการที่ <br>
            John Xina China Beauty Salon
        </div>
        <div class="box-2">
            1.My Heart is Warm <br>
            เราเป็นซาลอนอันดับต้นๆในประเทศไทยคัดสรรผลิตภัณฑ์ที่มีคุณภาพจากแบรนด์ชั้นนำจากต่างประเทศ ใช้เทคโนโลยีที่ทันสมัย เพื่อมอบประสบการณ์และบริการที่ดีที่สุดให้กับผู้เข้าใช้บริการ<br> 
            2.“Fürsorglich” <br>
            John Xina China Beauty Salon เราเน้นการบริการที่เรียกว่า “Fürsorglich” คือ การบริการที่เข้าใจ เข้าถึง เอาใจเขามาใส่ใจเรา เห็นอกเห็นใจผู้มารับบริการ
        </div>
    </body>
</html>
{% endblock %}