<html>
<head>
    <title>Report Invoice</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='/static/cpe.js'></script>
    <link rel='stylesheet' href='/static/cpe.css'>
</head>
<body>
    <ul class="nav">
        <li><a href="Home">Home</a></li>
        <li><a href="AboutAs">About As</a></li>
        <li><a href="Book">Book</a></li>
        <li><a href="ReportProductsSold">Report products sold</a></li>
        <li><a href="ReportListAllProducts">Report list all products</a></li>
        <li><a href="ReportListAllReceipts">Report list all receipts</a></li>
        <li><a href="ReportUnpaidInvoices">Report unpaid invoices</a></li>
        <li><a href="ReportAmountNotPaidInJan2021">Report Amount Not Paid In Jan 2021</a></li>
    </ul>
    {% block content %}
    {% endblock %}
</body>
</html>
