<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Css Format</title>
    <p style="color:#F08E79;font-weight: 1">Traisit</p>
    <p></p>
    <style>
        k{
            font-size: 20px;
            color: green;
        }
    </style>
</head>
<body>
    <k>
        Test
    </k>
</body>
</html> -->
<html>
    <body>
        <h1>
            ViewpenGay
        </h1>
    </body>
</html>